a {
    font-family: 'RedHatDisplay', sans-serif;
    font-weight: 400;
    /* Medium */
    font-style: normal;
    font-size: large;
}

p {
    font-family: 'RedHatDisplay', sans-serif;
    font-weight: 400;
    /* Medium */
    font-style: normal;
    font-size: large;
}

h5 {
    font-family: 'RedHatDisplay', sans-serif;
    font-weight: 700;
    /* Medium */
    font-style: normal;
    font-size: x-large;
}

h3 {
    font-family: 'RedHatDisplay', sans-serif;
    font-weight: 500;
    /* Medium */
    font-style: normal;
}

h2 {
    font-family: 'RedHatDisplay', sans-serif;
    font-weight: 600;
    /* Medium */
    font-style: normal;
}

h1 {
    font-family: 'RedHatDisplay', sans-serif;
    font-weight: 600;
    /* Medium */
    font-style: normal;
}

/* Kapak Fotoğrafı Stili */
.article-img img {
    width: 100%;
    height: auto; /* Yüksekliği otomatik olarak ayarlar, oranları korur */
    border-radius: 0.5rem; /* Dilerseniz kenar yuvarlatma miktarını ayarlayabilirsiniz */
    object-fit: cover; /* Resmi kapak alanına sığacak şekilde ayarlar */
    object-position: center; /* Resmi ortalar */
    max-height: 540px; /* Maksimum yükseklik belirleyebilirsiniz */
    /* Ek stil ayarlamalarını buraya ekleyebilirsiniz */
}

.paper-single {
    margin-top: 44px;
    margin-bottom: 44px;
}

/* widget Fotoğrafı Stili */
.widget .widget-body img {
    width: 100%;
    height: auto; /* Yüksekliği otomatik olarak ayarlar, oranları korur */
    border-radius: 0.5rem; /* Dilerseniz kenar yuvarlatma miktarını ayarlayabilirsiniz */
    object-fit: cover; /* Resmi kapak alanına sığacak şekilde ayarlar */
    object-position: center; /* Resmi ortalar */
    max-height: 120px; /* Maksimum yükseklik belirleyebilirsiniz */
    /* Ek stil ayarlamalarını buraya ekleyebilirsiniz */
}